@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Luckiest+Guy&family=Momo+Trust+Display&family=Oleo+Script:wght@400;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";

::-webkit-scrollbar {
    display: none;
}

* {
  font-family: "Marcellus", serif;
  font-weight: 400;
  font-style: normal;
}

.image-shape{
    box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 4px 0px, rgba(0, 0, 0, 0.5) 0px 2px 16px 0px;
    border: 5px solid #ffa500;
    border-left: none;
    border-right: none;
}

.btn-hover::after {
    content: "";
    top: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50% 50% 0px 0px;
    transition: top 0.5s;
}
.btn-hover:hover::after{
    top: 0;
    border-radius: 0px;
}

/* Custom orange slider */
.custom-range {
  -webkit-appearance: none;
  appearance: none;
}

/* Track */
.custom-range::-webkit-slider-runnable-track {
  height: 8px;
  background: rgb(81, 81, 81);
  border-radius: 5px;
}

/* Thumb */
.custom-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #ffa500;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -6px; /* centers thumb on track */
}


/* Base */
.only-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
}


.only-thumb::-webkit-slider-runnable-track {
  height: 8px;
  background: transparent;   
}


.only-thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #ffa500;       
  border-radius: 50%;
  cursor: pointer;
  margin-top: -6px; 
}


